body{
        background-size: 40px 40px;
      background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px)
}


.nav{
    text-align:center;
    line-height: 30px;
    font-weight:80;
}


 .welcome{
    text-align: left;
    font-weight: 80;
    font-size: 20px;
    line-height: 5px;
    color:#181b17;
    font-family:'Lato', sans-serif;
    font-weight: normal;}
    


.name{
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height:2px;
    color:#86ab80;

    
}

.center{
    text-align: center;
}

#rowone{
    display:inline-block;
    background-color:#fffffd;
    border: 6px solid #364d33;
    text-align:left;
    margin: 5px;
    width:60%;
}

.intro{
    display:inline-block;
    width: 20%;
    height: 20%;
    text-align: right;
    vertical-align:top;
    padding:3%;
}


ul{
    list-style-type:none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:#fffffd;
      text-align:center;
      position:relative;
    }



li{
    float:right
}

li a{ 
    display:block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding:20px 16px;
    text-decoration:crimson;
}

li a:hover{
    background-color:#86ab80;
}
.box{
    display:inline-block;
    width: 20%;
    height: 20%;
    text-align: left;
    vertical-align:top;
    padding:3%;
}


#row{
    display:inline-block;
    background-color:#fffffd;
    border: 6px solid #364d33;
    text-align:center;
    margin: 20px;
    width:60%;
}

h2{
    text-align: left;
    color: #000000;
    font-weight: bold;
    font-size:20px;
    font-family:'Lato', sans-serif;
}
p{
    color:#27201b;
    line-height: 1.3em;
    text-align: left;
    font-family: 'Avro', serif;
}


