body{
    background-color:rgb(255, 255, 255);
}
.welcome{
    text-align: right;
    font-weight: 80;
    font-size: 20px;
    line-height: 15px;
    color:#181b17;
    font-family:'Lato', sans-serif;
    font-weight: bold;
}

.name{
    text-align: right;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height:10px;
    color:#86ab80;

    
}

.center{
    text-align: center;
}

#rowone{
    display:inline-block;
    background-color:#fffffd;
    border: 6px solid #364d33;
    text-align:center;
    margin: 40px;
    width:60%;
}

.intro{
    display:inline-block;
    width: 20%;
    height: 20%;
    text-align: right;
    vertical-align:top;
    padding:3%;
}

ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#fffffd;
}

li{
    float:center;
}

li a{ 
    display: block;
    color: rgb(179, 102, 102);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.box{
    display:inline-block;
    width: 20%;
    height: 20%;
    text-align: left;
    vertical-align:top;
    padding:3%;
}


#row{
    display:inline-block;
    background-color:#fffffd;
    border: 6px solid #364d33;
    text-align:center;
    margin: 60px;
    width:60%;
}

h2{
    text-align: left;
    color: #000000;
    font-weight: bold;
    font-size:20px;
    font-family:'Lato', sans-serif;
}
p{
    color:#27201b;
    line-height: 1.3em;
    text-align: left;
    font-family: 'Avro', serif;
}


