body{
    background-size: 30px 30px;
      background-image:
    linear-gradient(to right, rgb(225, 248, 225) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(225, 248, 225) 1px, transparent 1px)
}



 .welcome{
    text-align: center;
    font-size:20px;
    line-height:3px;
 }

    


.name{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height:2px;
    color:#a8d8a1;
    text-shadow: 2px 2px 4px #000000;

}

    


.center{
    text-align: center;
}